* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	user-select: none;
}
html {
	height: 100%;
}
body {
	background-color: #e1e2e3;
	height: 100%;
}
@font-face {
	font-family: Roboto;
	src: url(Roboto-Regular.ttf);
}
@font-face {
	font-family: Roboto;
	src: url(Roboto-bold.ttf);
	font-weight: bold;
}
h1 {
	font-size: 3em;
	text-align: center;
	margin-top: 20%;
	font-weight: normal;
}
h1 span {
	height: 200px;
	position: absolute;
	transform-origin: bottom center;
}
h3 {
	color: #797979;
	font-size: 8vmin;
	font-family: 'Pacifico', cursive;
	padding: 10px;
	text-align:center;
}
.firstScreen {
	height: 100%;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	background: #f6f2ff;
}
.buttonDiv {
	display: flex;
	flex-direction: column;
	margin-bottom: 10%;
}
button:focus {
	outline:0;
}
.knapp {
	font-size: 1.5em;
	padding: 0.8em 2em;
	margin: 0.5em 1em;
	border: none;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.6);
	background: #223583;
    border-radius: 6px;
    color: white;
}
.secondScreen {
	display:none;
	flex-direction: column;
	background: #333333;
	align-items: center;
	padding-top: 100px;
	box-sizing: border-box;
    height: 100%;

}
.secondScreen h2 {
	color: #797979;
	font-size: 20vmin;
	padding-bottom: 30px;
	font-family: 'Pacifico', cursive;
}
.secondScreen p {
	color: white;
	text-align: center;
	font-size: 7vmin;
	padding-bottom: 30px;
}
.secondScreen div p {
	height: 4em;
	font-size: 10vmin;
	padding: 30px 30px 0;
}
.secondScreen button {
	padding: 15px 0px;
	border-radius: 4px;
	background-color: #ad2a1a;
	color: white;
	border: none;
	position: relative;
    overflow: hidden;
	min-width: 140px;
}

.secondScreen > span {
	position: relative;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

.loadingBar {
	width: 300px;
	height: 8px;
	margin-top: 50px;
	background: #111111;
    border-radius: 10px;
}
.bar {
	width: 100%;
	height: 100%;
	background-image: url("img/gradienrt.png");
	border-radius: 5px;

}
.questionButton {
	position: absolute;
	top: 0;
	right: 0;
	width: auto;
	height: 30px;
	margin: 5px;
	opacity: 0.5;
}
.replayDiv {
	position: absolute;
	transform: translate(-100%, -37.5%);
	padding-right: 5px;
}

.replayButton {
	height: 32px;
	opacity: 0.5;
}

.replaySpin {
	animation: spin 0.6s;
}
.helpScreen {
	width:100%;
	height: 100%;
	background-color: black;
	position: absolute;
	top: 0;
	opacity: 0.8;
	display: none;
}
.helptext {
	padding: 10px 16px;
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-top: 20px;
	font-size: 21px;

}

@keyframes spin {
	from {
		transform: rotateZ(360deg);
	}
	to {
		transform: rotateZ(0);
	}
}
.ink {
	display: block;
	position: absolute;
	background: rgba(187, 187, 187, 0.3);
	border-radius: 100%;
	transform: scale(0);
}
.ink.animate {
	animation: ripple 0.5s linear;
}
@keyframes ripple {
	100% {
		opacity: 0;
		transform: scale(2.5);
	}
}

.blur {
	-webkit-animation: blur 1s forwards;
}

.unBlur {
	-webkit-filter: blur(5px);
	-webkit-animation: unBlur 1s forwards;
}

@-webkit-keyframes blur {
	0%  {
		-webkit-filter: blur(0px);
	}
	100% {
		-webkit-filter: blur(5px);
	}
}

@-webkit-keyframes unBlur {
	0%  {
		-webkit-filter: blur(5px);
	}
	100% {
		-webkit-filter: blur(0px);
	}
}
